#mainstyle {background-color:#F2F2F2;}
#stopbully {background-color:#AB0717; padding: 6px; margin: 0 10px 10px 10px;}
.framebully {background-color:transparent; border:2px dashed #fff;
	padding: 13px; color:#fff;}
.mobbning {font-family: 'Dancing Script', cursive; font-size:60px; 
	text-transform:none;}
.disk {font-family: 'Dancing Script', cursive; font-size:38px; 
	text-transform:none;}
.krank {font-family: 'Dancing Script', cursive; font-size:37px; 
	text-transform:none;}
.wedo {font-family: 'Arial', sans-serif; font-size:30px; 
	text-transform:uppercase;  text-align:center;}
.boardbig {font-size:45px;}